<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Symptoms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      
    </ion-col>
  </ion-row>
  <ion-text><h1  class="ion-margin"><b>Covid-19 Coronavirus - Symptoms</b></h1></ion-text>
  <ion-card>
      <ion-row size-md="6" offset-md="3">
      <ion-col class="ion-text-center">
       
          <ion-text color="danger" class="ion-no-padding ion-no-margin"><h3>If you develop a fever, cough, and have difficulty breathing, promptly seek medical care.</h3></ion-text>
          <ion-text color="danger" class="ion-no-padding ion-no-margin"><h3>Call in advance and tell your health provider as soon as possible for medical advice.</h3></ion-text>
      </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col>
      <ion-text color="dark"><h1>Symptoms of Coronavirus</h1></ion-text>
      <ion-text color="medium"><p>
        The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some patients may have aches and pains, nasal
        congestion, runny nose, sore throat or diarrhoea. These symptoms are usually mild and begin gradually. Also the symptoms
        may appear 2-14 days after exposure.
      </p></ion-text>
      <ion-text color="medium"><p>People with mild symptoms who are otherwise healthy should self-isolate. Seek medical attention if you have a fever, a
      cough, and difficulty breathing.</p></ion-text>
      <ion-text>
        <br>
        <ion-text color="dark"><h1>Major and Common Symptoms</h1></ion-text>
        <ion-row class="ion-padding">
          <ion-col size="12">
            <ion-text color="dark"><b>Fever</b></ion-text>
            <ion-text color="medium">
              <p>
                High Fever – this means you feel hot to touch on your chest or back (you do not need to measure your
                temperature). It is
                a common sign & also may appear in 2-10 days if affected.
              </p>
            </ion-text>
            <ion-text color="dark"><b>Cough</b></ion-text>
            <ion-text color="medium">
              <p>
              Continuous cough – this means coughing a lot for more than an hour, or 3 or more coughing episodes in 24 hours (if you
              usually have a cough, it may be worse than usual).
              </p>
            </ion-text>
            <ion-text color="dark"><b>Shortness of breath</b></ion-text>
            <ion-text color="medium">
              <p>
              Difficulty breathing – Around 1 out of every 6 people who gets COVID-19 becomes seriously ill and develops difficulty
              breathing or shortness of breath.
              </p>
            </ion-text>
            <ion-text color="dark"><b>Others Symptoms</b></ion-text>
            <ion-text color="medium">
              <p>
                Some patients may have aches and pains, nasal congestion, runny nose, sore throat or diarrhoea. These symptoms are
                usually mild & begin gradually. Some people become infected but don’t develop any symptoms & don't feel unwell. Most
                people (about 80%) recover from the disease without needing special treatment.
              </p>
              <p>
                Around 1 out of every 6 people who gets COVID-19 becomes seriously ill and develops difficulty breathing. Older people,
                and those with underlying medical problems like high blood pressure, heart problems or diabetes, are more likely to
                develop serious illness.
              </p>
            </ion-text>

            
          </ion-col>
        </ion-row>
    </ion-text>
    </ion-col>
    </ion-row>
   <ion-row>
     <ion-col size-md="6" size-sm="12">
       <!-- <div>
      <iframe src="https://www.youtube.com/embed/bPITHEiFWLc?rel=0" style="width: 100%;height:400px;" frameborder="0"
        allowfullscreen></iframe>
        </div> -->
     </ion-col>
   </ion-row>
  
    </ion-card>
</ion-content>
