<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-img style="max-height: 500px;max-width:500px;margin:0px auto" src="https://media.tghn.org/medialibrary/2020/04/covid19_logo.png"></ion-img>
      <ion-card-header>
        <ion-card-title>
          Fight Covid-19 Coronavirus
        </ion-card-title>
      </ion-card-header>
      <ion-text><p>This Novel Coronavirus Tracker Application Designed and Made By Tej Patel.</p></ion-text>
      <ion-text><p>This Novel Coronavirus Tracker Application is used to keep track of latest news about Covid 19
        along with collecting data for analysis.
      </p></ion-text>
      <ion-text><p>
        ALl content are reliable and filtered , in the best benefit of the public who are used to analyse and indentify over
        various news sources
      </p></ion-text>
      <ion-text><p>This Covid Tracker Project Collect and Pusblish all Cases Information Availabel for India and also World</p></ion-text>
        <ion-text color="medium" class="ion-text-center">We Stand everyone flighting on the frontlines.</ion-text>
    </ion-col>
  
  </ion-row>

</ion-card>

</ion-content>
