<ngx-spinner bdColor="rgba(255,255,255,0.3)" size="medium" color="#eb445a" type="ball-scale-multiple"></ngx-spinner>
<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Prevention</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="ion-padding">
      <ion-text color="danger">
        <h1>How to Protect Yourself ?</h1>
      </ion-text>
      <ion-text>
       <p> The best way to prevent illness is to avoid being exposed to this virus.</p>
       <p> As there is not vaccine to prevent so
        you can
        protect yourself and help prevent spreading the virus to others if you do as below instruction.</p>
      </ion-text>
    </ion-col>
  </ion-row>
  
<ion-row>
  <ion-col size-md="4" size="12">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">
          Wash Your Hands Properly
        </ion-card-subtitle>
      </ion-card-header>
      <ion-img style="height: 150px;" src="assets/01.png"></ion-img>
    </ion-card>
  </ion-col>
  <ion-col size-md="4" size="12">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">
          Use A Medical Face Mask
        </ion-card-subtitle>
      </ion-card-header>
      <ion-img style="height: 150px;" src="assets/02.png"></ion-img>
    </ion-card>
  </ion-col>
<ion-col size-md="4" size="12">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">
        Use Alcohol Based Sanitizer
      </ion-card-subtitle>
    </ion-card-header>
    <ion-img style="height: 150px;" src="assets/03.png"></ion-img>
  </ion-card>
</ion-col>

<ion-col size-md="4" size="12">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">
        Visit Doctor Incase Of Any Symptoms
      </ion-card-subtitle>
    </ion-card-header>
    <ion-img style="height: 150px;" src="assets/04.png"></ion-img>
  </ion-card>
</ion-col>
  <ion-col size-md="4" size="12">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">
          Keep Social Distance
        </ion-card-subtitle>
      </ion-card-header>
      <ion-img style="height: 150px;" src="assets/05.png"></ion-img>
    </ion-card>
  </ion-col>
  <ion-col size-md="4" size="12">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">
        Stay Home , Stay Safe
        </ion-card-subtitle>
      </ion-card-header>
      <ion-img style="height: 150px;" src="assets/06.png"></ion-img>
    </ion-card>
  </ion-col>
</ion-row>
</ion-content>
