<ngx-spinner bdColor="rgba(255,255,255,0.3)" size="medium" color="#eb445a" type="ball-scale-multiple"></ngx-spinner>
<ion-header>
  <ion-toolbar color="danger">
    <ion-title>India Statics</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size-md="6">
      <ion-card>
      <canvas id="line-chart1" height="265" #countryline1></canvas>
      </ion-card>
    </ion-col>
   
    <ion-col size-md="6">
      <ion-card>
      <canvas id="line-chart2" height="265" #countryline2></canvas>
      </ion-card>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col size-md="6">
      <ion-card>
      <canvas id="line-chart3" height="265" #countryline3></canvas>
      </ion-card>
    </ion-col>
    <ion-col size-md="6">
      <ion-card>
      <canvas id="line-chart4" height="265" #countryline4></canvas>
      </ion-card>
    </ion-col>
  </ion-row>

  


  <!-- <ion-row class="ion-margin-right ion-padding-right">
    <ion-col class="ion-padding-right ion-margin-right"
      style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
      <ion-card>
       
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-right ion-padding-right">
    <ion-col class="ion-padding-right ion-margin-right"
      style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
      <ion-card> -->
        <!-- <canvas id="line-chart2" width="800" height="450"></canvas> -->
      <!-- </ion-card>
    </ion-col>
  </ion-row> -->
</ion-content>